body
{
  font-family:'Cookie', cursive;
}

p
{
  text-transform: lowercase;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Arial', cursive;
}

section
{
  font: weight 1bold;;
  font-style: italic;
  margin: 10px, 11px, 12px;
}


.cabecera
{
  width: 500px;
  background-image: url('../images/github-octocat.png');
  background-size:200px 50px;
  background-repeat: no-repeat;
  background-position-x: -50px;
  color:#FFFFFF;
}

.cabecera a
{
  color:0000FF;
  text-decoration: none;
}

.menu
{
  width:500px;
  text-align: right;
  text-orientation: sideways-right;