.cabecera
{
  background-color: #FFF000;
  color: rgb(000, 224, 224);
}

.hero
{
  background-color: pink;
  color:red;
}

.portfolio
{
  background-color: lightgreen;
}

.experience
{
  background-color: tomato;
}

.contact
{
  background-color: teal;
}

.final
{
  background-color: #00AAAA;
}